.content
{
    background-color: #3D5AFE;
}
.content_1
{
    height: 320px;
    padding: 15px;
    width: 525px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius:10% ;
    outline: 2px solid black;

}
.content_1 > input
{
    padding: 15px;
    border-style: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    outline: none;
    
}
.content_1 > input:active,.content_1 > input:hover
{
    outline: none;
}
.content_1 > textarea
{
    height: 325px;
    border-style: none;
    margin-top: 10px;
    text-indent: 10px;
    font-size: 20px;
    outline: none;
}
.content_1 > textarea:hover,.content_1 > textarea:active
{
    border-style: none;
    outline: none;
}
.content_1 > button
{
    background-color: black;
    width: 20%;
    padding: 10px;
    margin-left: 10px;
    color: white;
    border-style: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;

}
.list_1
{
    height: 100px;
    border-radius:10px ;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
    background-color:white;
    margin-top: 5px;
    margin-bottom:5px;

    /* background-color: white; */
}

.list_1 p {
    color: black; 
  }


#list > .update_2
{   
    display: flex;
}
.update_2
{
    width: 75vw;
    height: 90vh;
    padding: 10px;
    border-radius: 20px;
    background-color:white;    
    position:static;
}
.update_2 > h2
{
    height: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
    display: inline-block;
   
}
.update_2 > p
{
    margin-top: 30px;
    width: 100%;
    padding-top: 20px;
    font-size: 20px;
    text-indent: 12px;
    font-weight: bold;
    border-top: 2px solid black;
    
}

.update_2 > button{
    left: 10px;
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.update_2 > button:nth-last-child(3)
{
    float: right;
    background-color: orangered;
    color: white;
    

}
.update_2 > button:nth-last-child(2)
{
    background-color:green;
    color: white;
    float: right;
    clear: left;
}

.insert{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50%;
}


.insert_1
{
  height: 150px;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}
.insert_1 > input
{
   border-style: none;
   border-bottom:2px solid black ;
   outline: none;
   width: 100%;
   font-size: 20px;
}
.insert_1 > button
{
    margin-top: 10px;
    padding: 15px;
    width: 40%;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
}
.insert_1 > button:hover
{
    background-color: black;
    color: white;
}

