.content
{
    background-color: #3D5AFE;
}
.content_1
{
    height: 320px;
    padding: 15px;
    width: 525px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius:10% ;
    outline: 2px solid black;

}
.content_1 > input
{
    padding: 15px;
    border-style: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    outline: none;
    
}
.content_1 > input:active,.content_1 > input:hover
{
    outline: none;
}
.content_1 > textarea
{
    height: 325px;
    border-style: none;
    margin-top: 10px;
    text-indent: 10px;
    font-size: 20px;
    outline: none;
}
.content_1 > textarea:hover,.content_1 > textarea:active
{
    border-style: none;
    outline: none;
}
.content_1 > button
{
    background-color: black;
    width: 20%;
    padding: 10px;
    margin-left: 10px;
    color: white;
    border-style: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;

}
#id
{
    flex-grow: 10;
}
.list_items
{
   color: red;
  
}
